# example 1: on push to master
name: Bump version
on:
  push:
    branches:
      - main
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
      with:
        fetch-depth: '0'
    - name: git clone
      run: ls $GITHUB_WORKSPACE
     
    - name: Bump version and push tag
      uses: anothrNick/github-tag-action@1.26.0
      env:
       GITHUB_TOKEN: ${{ secrets.test-token }}
       WITH_V: false
