# example 1: on push to master
name: Bump version
on:
  push:
    branches:
      - main
jobs:
  build:
    runs-on: ubuntu-22.04
    steps:
    - uses: actions/checkout@main
      with:
        fetch-depth: '0'
    - name: Bump version and push tag
            if: ${{ github.event_name == 'push' && runner.os == 'Linux' && matrix.java == '11' }}
            uses: anothrNick/github-tag-action@1.26.0
            env:
             GITHUB_TOKEN: ${{ secrets.test-token }}
             WITH_V: true
